.main__title{
  color: red;
}

  .content{
    text-align: center;
  }

  .content:hover{
    background-color: #E7816B;
  }

  .card__item {
    margin-bottom: 1rem;
  }

@media (min-width: 600px){

  .card__item{
    width: 30%;
    /* height: 26rem; */
    border-radius: 8px;
    overflow: hidden;
  }

  .main__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    border-radius: 5px;
    justify-content: center;
  }

.pages__tags{
  margin-bottom: 3rem;
}

.css-46bh2p-MuiCardContent-root:last-child{
  padding-bottom:0;
}

}

