.footer__container {
  background-color: #1D1C1E;
  height: 33rem;
  text-align: center;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  width: 100%;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__logo > img {
  border-bottom: 1px solid #333136;
  padding-bottom: 2rem;
  max-width: 100% 
}

.navigation{
  margin-top: 1.3rem
}

.nav__list{
  list-style: none;
}

.nav__list > a{
  display: block;
  color: #f1f3f5;
  text-decoration: none;
  margin-bottom: 1.2rem;
}

.footer__logo, .footer__tags > div {
  margin-bottom: 1.3rem;
}

.footer__tags {
  color: #333136;
}

.icon {
  max-width: 100%;
}

.tags__top{
  margin-bottom: 1rem;
}

.logo__icon {
    color: #E7816B;
  }

@media (min-width: 600px){
  .tags__top{
  margin-bottom: 0;
}


  .footer__container {
    height: 24rem;
  }
  .footer__logo > img{
    height: 10rem;
    width: 10rem;
    object-fit: contain;
    padding-bottom: 0;
  }
  .footer__logo {
    justify-content: space-between;
    align-items: center;
  }

  .navigation {
    margin-top: 0;
  }
  .footer__logo, .footer__tags, 
  .nav__lists, .tags{
    display: flex;
    gap: 2rem;
  }

  .footer__tags {
    justify-content: space-between;
  }

.footer__logo, .footer__tags > div {
  margin-bottom: 0;
}

  .logo__icon {
    bottom: 4rem !important;
    color: #E7816B;
    align-self: flex-end;
  }

  .icon {
    margin: 0.2rem
  }

  .footer__logo > img{
    border-bottom: 0
  }
  .footer__logo {
    border-bottom: 1px solid #333136;
    margin-bottom: 0;
    align-items: center;
  }

  .footer__tags{
    margin-top: 3rem;
  }

  .navigation{
  margin-top: 0
}
}
